.container1 {
    max-width: 400px;
    margin: 70px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.container1 h3 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group1 {
    margin-bottom: 20px;
}

.form-group1 label {
    display: block;
    margin-bottom: 8px;
}

#email {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.container1 button {
    background-color: #007580;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.container1 button:hover {
    background-color: #096972;
    color: #fff;
}

.container1 p {
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    font-weight: bold;
}

/* .btn {
    background-color: #007580;
}

.btn:hover {
    background-color: #045158;
} */